
<!DOCTYPE html>
<html>
<head>
<style>
 body{
    margin : 5% 30%;
    background-color: #f0f0f0;
 }

table{
    border: 0;
}

td{
    background-color: #ffffff;
    color: #696868;
}

 td h3{
    background-color: #ffffff;
    font-size: 23px;
    color: black;
 }

 hr{
     border:1px solid #ededed;
 }




</style>
</head>
 

    <body padding: 0;">
        <table align="center"cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
            <tr>
                <td align="center" style="padding: 40px 0 0px 0;">
                    <img src="" width="80" height="60" style="display: block;" />
                    <h3>비밀번호 재설정하기</h3>
                </td>
            </tr>
            <tr>
                <td  style="padding: 0px 30px 40px 30px;">
                    <table  cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                         <td>
                             <hr>
                             <br><br>
                          ${ename}님,
                         </td>
                        </tr>
                        <tr>
                         <td style="padding: 20px 0 30px 0;">
                          방금 비밀번호를 다시 설정할 수 있도록 이 이메일을 보내달라고 요청하셨습니다.<br>
                          아래 인증번호를 입력하시면 비밀번호를 새로 설정하실 수 있습니다.
                         </td>
                        </tr>
                        <tr>
                         <td>
                          ${certNumber}
                          <br><br>
                          <hr>
                         </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" style="padding: 40px 0 30px 0;">

                </td>
            </tr>
        </table>
           
       </body>

</html>